.card-category {
  // background-image:  url("https://cdnb.artstation.com/p/assets/images/images/053/357/569/large/yan-ru-05.jpg?1662018396");
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-large {
  height: 50vh;
  max-height: 400px;
}
